/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$color-white: #fafafa;
$color-black: #000;

$color-background: $color-white;
$color-content: $color-black;
$color-active-first: #cdff26;
$color-main: #0075FF;
$color-active-second: #0728EF;
$color-active-third: #F5F5F5;

$border-radius-l: 6vw;
$border-radius-s: 44px;


/* Components */
