.menu {
   position: fixed;
   top: 0;
   left:0; 
   width: 100vw;
   padding: 16px 0;
   z-index: 1000;
   transform: translateY(0px);
   transition: transform 0.2s 0.5s ease;
   backdrop-filter: blur(10px);
   background-color: rgba(250,250,250,0.8);

   @include sm {
    display: none;
   }

   &_hidden {
    transform: translateY(-100%);
    
   }

   &__wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: center;
   }
   &__item {
    margin:0 24px;

    & a {
        color: $color-content;
    }
   }
}