.section {
    position: relative;

    & img {
        pointer-events: none;
    }

    &__content {

    }

    &__cover {

    }

    &#product {

    }

    &#product &__content {
        position: relative;
        z-index: 200;
        width: 50%;
        height: 100vh;
        padding: 160px 0 0 0;
        box-sizing: border-box;
    }

    &#product &__cover {
        position: absolute;
        z-index: 100;
        top:0;
        right:0;
        height: 100%;
        margin-right: -120px;

        & img {
            height: 100%;
        }
    } 

    &#rpm {
        background-color: black;
    }

    &#rpm &__content {
        position: relative;
        z-index: 200;
        color: #fff;
        width: 50%;
        height: 100%;
        padding: 64px 0;
    }

    &#rpm &__cover {
        width: 0px;
        max-width: 0px;
        margin-left: 50%;
        z-index: 100;
        height: 100%;
        position: absolute;
        top:0;
        left:0;

        & img {
            width: 100vw;
            max-width: none;
            margin-left: -50vw;
            pointer-events: none;
            height: 100%;
            object-fit: cover;
        }
    }

    &#platform {

        .col-image {
            height: 164px;
        }

        .anim-show {
            transition-property: all;
            transition-duration: .6s;
            transition-timing-function: ease;
        }

        .anim-show_ready {
            transform: scale(90%) translateY(30px);
        }

        .anim-show_complete {
            transform: scale(100%) translateY(0);
        }
    }   

    &#platform &__content {
        text-align: center;
        padding: 64px 124px 48px 124px;
    }

    &#platform &__content_column {
        padding-bottom: 48px;
    }    


    &#platform &__cover {

    } 

    &#wristband &__content {
        text-align: center;
        padding: 64px 124px 48px 124px;
    }

    &#wristband &__cover {
        padding: 0 200px 44px;

        .anim-show {
            transition: all 1s ease;
        }

        .anim-show_ready {
            transform: scale(110%);
        }

        .anim-show_complete {
            transform: scale(100%);
        }
    }

    &#mobile-app &__content {
        text-align: center;
        padding: 64px 124px 48px 124px;
    }

    &#mobile-app &__cover {
        padding: 0 120px;
        margin-bottom: -32px;

        .anim-show {
            transition: all 1.5s ease;
        }

        .anim-show_ready {
            transform: scale(90%);
        }

        .anim-show_complete {
            transform: scale(100%);
        }
    }

    &#dashboard {
        .img-description {
            text-align: center;
            color: #8990A1;
            width: 100%;
            font-size: 18px;
            display: inline-block;
            margin-bottom: 48px;
            position: relative;
            z-index: 100;
        }
    }

    &#dashboard &__content {
        text-align: center;
        padding: 64px 124px 48px 124px;

    }

    &#dashboard .columns {
        align-items: baseline;
        margin-bottom: 48px;
    }

    &#dashboard &__cover {
        margin: -48px -24px 0;

        img {
            margin-bottom: -16px;
        }

        .anim-show {
            transition: all 1.5s ease;
        }

        .anim-show_ready {
            transform: scale(90%);
        }

        .anim-show_complete {
            transform: scale(100%);
        }
    }

    &#solution {
        background-color: $color-main;
        color: #fff;
        margin: 0 calc(50% - 50vw);
        padding: 48px calc(50vw - 50%);

        li ul {
            gap:16px;
            display: flex;
            flex-direction: column;
        }
    }

    &#solution &__content {
        
        & > .text, & h2 {
            width: 50%;
        }
    }

    &#solution &__cover {

    }

    &#team {

        .hightlight:before {
            background-image: url("assets/line.svg")
        }

    }

    &#team &__content {
        img {
            width: 50%;
            transform: translateX(-32px);
        }
    }

    &#team &__cover {

    }
}