.page {
    display: flex;
    justify-content: center;
    padding: 0 45px;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;

    &__inner {
        max-width: 1000px;
        width: 100%;
    }

    @include sm {
        margin: 0 0;
        width: 100vw;
    }    
}